html, body {
	height: 100%;
	font-size: 18px;
}

@media screen and (max-width: 750px) {
	body {
		font-size: 24px;
	}
}

.list-wrapper {
	background: #000;
	height: 100%;
	color: #fff;
	padding: 0;
}

.map-wrapper, #map-wrapper{
	height: 100%;
	padding: 0;
}

.map-wrapper .hamburgerbar {
	margin: 0;
	border-radius: 0;
	background: #000;
	color: #fff;
	font-size: 1.2em;
	text-align: center;
	padding: 10px 0;
}

.hamburgerbar button {
	margin: 5px;
	margin-top: -5px;
	float: left;
}

.list-wrapper .list-group-item {
	border: none;
	cursor: pointer;
}

.list-wrapper .station-list .list-group-item {
	border-bottom: 1px grey solid;
	background: none;
}

.list-wrapper .station-list .list-group-item:first-child {
	border-top: 1px grey solid;
}

.station-intersection {
	font-size: 0.8em;
}

.station-name {
	font-size: 1em,;
	display:block;
}

.station.active {
	background: grey;
}

.filter {
	margin: 8px;
}

.filter input {
	padding: 5px;
	color: #000;
}
